# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.lprof

# virtual environment
.venv/
venv/

# env / config
.env
config.py

# caches
.mypy_cache/
.pytest_cache/
.coverage

# logs
*.log

# local data / runtime
.data/
.db-data/
.redis-data/

# external / tools / testing
ext/
tools/
_testing/

# poetry
poetry.toml
