<html lang="en">
  <body style="background-color: rgb(255, 255, 255)">
    <div
      style="
        font-size: 15px;
        color: rgb(47, 41, 54);
        padding: 0;
        font-family: Helvetica Neue, Helvetica, sans-serif;
        width: 100%;
        font-weight: 400;
        margin: 0;
        background-color: rgb(255, 255, 255);
        background: #ffffff;
      "
    >
      <div
        style="
          padding: 0;
          font-size: 0;
          display: none;
          max-height: 0;
          font-weight: 400;
          line-height: 0;
        "
      ></div>
      <table
        style="
          border-radius: 4px;
          font-size: 15px;
          color: rgb(47, 41, 54);
          border-collapse: separate;
          border-spacing: 0;
          max-width: 700px;
          font-family: Helvetica Neue, helvetica, sans-serif;
          border: 1px solid rgb(150, 180, 220);
          padding: 0;
          width: 100%;
          font-weight: 400;
          margin: 15px auto;
          background-color: #e6f0ff;
        "
      >
        <tr style="font-weight: 400">
          <td
            style="padding: 0; font-weight: 400; margin: 0; text-align: center"
          >
            <div
              style="
                padding: 25px 0 25px 0;
                font-size: 14px;
                font-weight: 400;
                border-bottom: 1px solid rgb(180, 200, 230);
              "
            >
              <div
                style="
                  padding: 0 20px;
                  max-width: 600px;
                  font-weight: 400;
                  margin: 0 auto;
                  text-align: left;
                "
              >
                <table
                  style="
                    width: 100%;
                    font-weight: 400;
                    margin-bottom: 0;
                    border-collapse: collapse;
                  "
                >
                  <tr style="font-weight: 400">
                    <td
                      width="125px"
                      style="
                        padding: 0;
                        font-weight: 400;
                        margin: 0;
                        text-align: center;
                      "
                    >
                      <h1
                        style="
                          font-size: 38px;
                          color: rgb(0, 0, 0);
                          letter-spacing: -1px;
                          padding: 0;
                          font-weight: normal;
                          margin: 0;
                          line-height: 42px;
                        "
                      >
                        <a
                          href="https://Inlayo.com"
                          style="
                            color: rgb(47, 90, 200);
                            font-weight: 500;
                            text-decoration: none;
                          "
                          target="_blank"
                        >
                          <img
                            src="https://Inlayo.com/static/images/Inlayoingame@2x.png"
                            height="70px"
                            style="font-weight: 400"
                          />
                        </a>
                      </h1>
                    </td>
                    <td
                      style="
                        padding: 0;
                        font-weight: 400;
                        margin: 0;
                        text-align: right;
                      "
                    >
                      <span
                        id="Dear username"
                        style="
                          font-weight: 600;
                          font-size: 14px;
                          position: relative;
                          top: -2px;
                        "
                      >
                        Dear {username}
                      </span>
                      <br />
                      <span
                        style="font-size: 14px; position: relative; top: 2px"
                      >
                        Your Account's Status is Changed.
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr style="font-weight: 400">
          <td
            style="padding: 0; font-weight: 400; margin: 0; text-align: center"
          >
            <div
              style="
                padding: 0 20px;
                max-width: 600px;
                font-weight: 400;
                margin: 0 auto;
                text-align: left;
              "
            >
              <div
                style="
                  padding: 30px 0 20px;
                  font-weight: 400;
                  background-color: #e6f0ff;
                "
              >
                <h3
                  id="Hello, username. Thanks for using our service."
                  style="font-size: 22px; font-weight: 500; margin: 0 0 20px"
                >
                  Hello, {username}. Thanks for using our service.
                </h3>
                <p
                  style="
                    font-weight: 400;
                    margin: 0 0 20px;
                    font-size: 15px;
                    line-height: 22px;
                  "
                >
                  Unfortunately, our team caught some exploitative activities in
                  your account. So, your account's status is changed to
                  <a style="color: darkblue; text-decoration: none">Banned.</a>
                  here is one of your score that our team judgement:
                </p>
                <p
                  style="
                    font-weight: 400;
                    margin: 0 0 20px;
                    font-size: 20px;
                    line-height: 29.3333px;
                  "
                >
                  <a
                    id="Reason for sending mail"
                    target="_blank"
                    href="https://inlayo.com/b/{BI_bid}"
                    style="color: steelblue; text-decoration: none"
                  >
                    {BI_beatmapInfo}
                  </a>
                </p>
                <p
                  style="
                    font-weight: 400;
                    margin: 0 0 20px;
                    font-size: 15px;
                    line-height: 22px;
                  "
                >
                  Of course, our team members are also human, so this judgement
                  may be wrong.If you think this decision is wrong or have a
                  question about this, please reply to
                  <a
                    style="color: dodgerblue; text-decoration: none"
                    target="_blank"
                    href="mailto:inlayo@inlayo.com"
                  >
                    Inlayo@Inlayo.com
                  </a>
                  or join our official discord:
                  <a
                    style="color: dodgerblue; text-decoration: none"
                    target="_blank"
                    href="https://inlayo.com/discord"
                  >
                    Inlayo.com/discord
                  </a>
                  and DM to our Team members.
                </p>
                <p
                  style="
                    font-weight: 400;
                    margin: 0 0 20px;
                    font-size: 15px;
                    line-height: 22px;
                  "
                >
                  If you reply to the appeal, you have 2 options: liveplay or
                  appeal after self-reflection.<br />The liveplay must include
                  the following, and unless there are special circumstances, the
                  number of video uploads is limited to a maximum of three.
                  <br /><br />
                  - Reboot your computer
                  <br />
                  - Clock (Analog)
                  <br />
                  - handcam (The monitor screen and handcam should look the
                  same)
                  <br />
                  - scrolling the Task Manager processes, and run osu!
                  immediately
                  <br />
                  - scrolling the Task Manager processes Again
                  <br />
                  - Re-demonstrate at least five of the account's best
                  performance pp records #1 to #10 or equivalent.
                  <br />
                  - Finally, scrolling the Task Manager processes Again
                  <br />
                  - All the steps mentioned above must be recorded in a single,
                  continuous video without any edits.
                  <br /><br />
                  If you are unsure what to do,
                  <a
                    style="color: dodgerblue; text-decoration: none"
                    target="_blank"
                    href="https://youtu.be/jLPEcKwUO1U"
                  >
                    check out these liveplay example videos
                  </a>
                  for reference!
                  <br />
                  The recorded video should be uploaded by opening a ticket in
                  our official Discord server and submitting it there. Join our
                  Discord here:
                  <a
                    style="color: dodgerblue; text-decoration: none"
                    target="_blank"
                    href="https://inlayo.com/discord"
                  >
                    https://inlayo.com/discord
                  </a>
                  link. Your UserID is
                  <a style="color: darkblue; text-decoration: none">{userID}</a>
                  <br />
                  Before uploading the video, provide the administrator with the
                  link to your Bancho account and user pages from other private
                  servers! If you don’t have any, simply state that you don’t.
                  <br />
                  The video you uploaded will be reviewed by the administrator
                  and is scheduled to be uploaded to the Inlayo YouTube account
                  (unlisted).
                  <br />
                  ---------------------------------------------------------------
                  <br />
                  if you select the second option, an appeal is forgiven only
                  once. If the Live Play authentication fails, it will be
                  rejected. We would like to inform you that we cannot help you
                  if your account is restricted due to suspicious behavior even
                  though the restriction has been lifted by writing an appeal.
                  Therefore, if the record you saved is true, please record the
                  liveplay rather than writing an appeal.
                </p>
                <p
                  style="
                    font-weight: 400;
                    margin: 0 0 20px;
                    font-size: 15px;
                    line-height: 22px;
                  "
                >
                  <a style="color: darkblue; text-decoration: none"
                    >WARNING:
                  </a>
                  According to our server rules, our server allows only one
                  account per person. Never create another account!! This can
                  have a bad effect on you.
                </p>
                <p
                  style="
                    font-weight: 400;
                    margin: 0 0 20px;
                    font-size: 15px;
                    line-height: 22px;
                  "
                >
                  <!-- <a style="color: darkblue;">
                  This mail is SEND-ONLY, so DON'T reply to this email.
                </a> -->
                </p>
                <p
                  style="
                    font-weight: 400;
                    margin: 0 0 20px;
                    font-size: 15px;
                    line-height: 22px;
                  "
                >
                  <a style="color: blue; text-decoration: none">
                    Best Regards.
                    <br />
                    Inlayo.
                  </a>
                </p>
              </div>
            </div>
            <div
              style="
                max-width: 600px;
                padding: 0 20px;
                font-weight: 400;
                margin: 0 auto;
                text-align: left;
              "
            >
              <div
                style="
                  padding: 20px 0 40px 0;
                  border-top: 1px solid rgb(190, 210, 240);
                  font-weight: 400;
                  text-align: center;
                "
              >
                <a
                  style="
                    cursor: pointer;
                    color: rgb(60, 90, 150);
                    font-weight: 500;
                    text-decoration: none;
                  "
                >
                  Inlayo
                </a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
